<div class="chat-thread-container">

    <div class="clear-chat">
        <button class = "chat-send-button" (click)="clearChat()">Clear Chat</button>
    </div>
    
    <div class="chat-messages">
        <div class="chat-message" *ngFor="let message of messages">
            <app-chat-message [message]="message" [isSelfMessage]="message.senderId === userId"></app-chat-message>
          </div>
    </div>


    <div class="chat-input">
        <app-chat-input (messageSent) = sendMessage($event)></app-chat-input>
    </div>
  </div>
  
