@import './app/chat//chat-menu/styles/menu-variables.scss';
@import './app/chat//chat-thread/styles/thread-variables.scss';


html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

*, *::before, *::after {
  box-sizing: border-box;
}