$thread-primary-bg-color: #202020;
$thread-secondary-bg-color: #2E2E2E;
$thread-hover-bg-color: #3A3A3A;
$thread-text-color: #eaeaea;
$thread-border-color: #4A4A4A;
$thread-button-bg-color: #2E2E2E;
$thread-button-hover-color: #383838;
$thread-button-active-color: #4A4A4A;
$thread-input-bg-color: #2E2E2E;
$thread-input-border-color: #4A4A4A;
$thread-self-message-bg-color: #2D3B50;
$thread-other-message-bg-color: #262626;
