
.container {
    display: flex; /* Enable flexbox */
    justify-content: center; /* Center horizontally */

    position: relative;

    align-items: center; /* Center vertically */
    width: 100%;   /* 100% of the viewport width */
    height: 100%;  /* 100% of the viewport height */
    background-color: rgb(237, 237, 237);

    .chat-menu {
        position: relative;

        width: 20%;
        height: 100%;
        background-color: rgb(172, 171, 171);
    }

    .chat-thread {
        position: relative;
        
        width: 80%;
        height: 100%;
    }

}