// _variables.scss
$primary-bg-color: #181818;
$secondary-bg-color: #2A2A2A;
$tertiary-bg-color: #3C3C3C;
$hover-bg-color: #353535;
$text-color: #ffffff;
$secondary-text-color: #eaeaea;
$button-hover-color: #444444;
$button-active-color: #555555;

$green-btn-bg-color: #4caf50;
$green-btn-hover-color: #43a047;
$green-btn-active-color: #388e3c;

$red-btn-bg-color: #ff4c4c;
$red-btn-hover-color: #e04343;
$red-btn-active-color: #c93a3a;

$font-family: 'Roboto', sans-serif;
